{# 
    Шаблон страницы входа пользователя.
    Отображает форму авторизации.
#}
{% extends 'base.html' %}
{% block content %}
<h2>Вход</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </div>
    <div>
        {{ form.remember_me() }} {{ form.remember_me.label }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
<p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрироваться</a></p>
{% endblock %}
